//
html,
body {
  box-sizing: border-box; //box-sizing: inherit
}

body {
  background-image: url('../assets/bg.jpg');
  font-family: 'Lato', sans-serif;
}

#header {
  background-color: #f1f1f1;
  margin: auto;
  // padding: 20px;
  height: 72px;
  width: 100%;
  top: 0;
  left: 0;
  // position: fixed;
  text-align: center; // insert bkgd ditty
  background-image: url('../assets/header_bg.svg'), url('../assets/logo.svg');
  background-repeat: no-repeat,;
  background-position: center, center;
  // background-size: 138px 152px;
}

#topnav {
  border: 1px solid black;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  background-color: #333;
  height: 45px;
}

a {
  // float: left;
  // margin: auto;
  // width: 400px;
  // position: center;
  border: 1px solid red;
  display: inline-block;
  color: darkgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 277px;
  height: 168px;
}

a:hover {
  color: orange;
  -webkit-transition: -webkit-transform 1.0s ease-in-out;
  transition: transform 1.0s ease-in-out;
}

#footer {
  background-color: #333;
  padding: 20 px;
  text-align: center;
  margin: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


}

div#fb {
  content: url('../assets/facebook_grey.svg');
  display: inline-block;
}

div#insta {
  content: url('../assets/instagram_grey.svg');
  display: inline-block;
}

div.insta:hover {
  content: url('../assets/instagram_orange.svg');
}

#main {
  border: 1px solid green;
  // margin: 20px;
  // padding-left: 20%;
  
}

#container {
  border: 1px solid blue;
  max-width: 769px;
  margin: auto;
  overflow: auto;
  // padding: 10px;
  
}

.card {
  border: 1px solid yellow;
  display: inline-block;
  margin: 5px; 
  padding: 22px;
  width: 323px;
  height: 398px;
  background-color: whitesmoke; 
}

.title {
  font-family: 'Oswald', sans-serif;
  color: rgb(46, 45, 45);
  border: 1px solid black;
  height: 46px;
  // width: 168px
  // margin: 10px;
  // padding: 5px;
}

// Tagline contents
.tagline {
  border: 1px solid purple;
  margin: 10px;
  padding: 5px;
  color: rgb(61, 60, 60);
  font-size: 8pt; // display: inline-block;
  overflow: auto;
}

.author {
  border: 1px solid red;
  float: left;
  margin-right: 1rem;
}

.score {
  border: 1px solid green;
  float: left;
  margin-right: 1rem;
}

.time {
  float: left;
  
}


@media (max-width: 667px) {
  .container {
      width: 350px;
  }
}



// to center horizontally
//margin: auto
//width: 400px

/* for vertical centering
position: relative
translateY: 50%
top: -50%



div by default is 'display: block' - which takes up the full width

float left/right won't do anything

display: inline - like span, only takes up as wide as content; takes up margin all the way to full width??

display: inline-block - use this alot! will be as large/wide as content/text, can float left/right

display: table - do not use! unless building a spreadsheet

when using float, use 'overflow: auto'

padding - means padding top/bottom, left/right; so can be explicit in determining attribute

*/